<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>custom server</title>
</head>

<body>
    <div>
        <h1>Home</h1>
        <p>Welcome to the home page served by custom HTTP server!</p>
        <p>
            This is a simple example of a template rendered by a custom server.
        </p>
        <a href="/second-page">
            Go to the second page
        </a>
    </div>
</body>

</html>